<h1>home page</h1>

{{#each survey}}

<div>
    Name: {{this.name}}
</div>
<div>
    Score: {{this.score}}
</div>
<div>
    Image: {{this.image}}
</div>
<div>
    Url: {{this.url}}
</div>
<div>
    Email: {{this.email}}
</div>

{{/each}}