<h1>Name: {{post.name}}</h1>

<div>Created At: {{post.createdAt}}</div>

<h2>Email: {{post.email}}</h2>

<h2>Url: {{post.url}}</h2>

<h2>Question1: {{post.question1}}</h2>

<h2>Score: {{post.score}}</h2>

<h2>Image: {{post.image}}</h2>

